<div class="flex items-center group">
  <div class="flex flex-col w-full">
    <div class="flex justify-between">
      <div class="flex gap-x-2">
        <span class="font-medium"><%= comment.user.try(:username) %></span>

        <% if comment.created_at %>
        <span class="text-transparent group-hover:text-slate-500"><%= time_ago_in_words(comment.created_at) %>
          ago</span>
        <% end %>
      </div>

      <div class="flex gap-x-2 items-start">
        <% if current_user.id == comment.user_id %>
          <%= button_to [post, comment], method: :delete do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
            </svg>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="flex gap-x-2">
      <div class="max-w-[3px] grow bg-gray-200 rounded-lg ml-1.5"></div>
      <div class="flex flex-col gap-x-4 grow">
        <div class="flex">
          <%= comment.body %>
        </div>

        <button class="comment-reply-display">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
          </svg>
        </button>
        <div class="hidden">
          <%= render 'comments/form', post: @post, parent: comment %>
        </div>

        <div class="flex flex-col w-full pl-3">
          <% comment.comments.each do |comment| %>
            <%= render partial: 'comments/comment', locals: { post: @post, comment: comment } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    document.querySelectorAll('.comment-reply-display').forEach(element => {
        element.addEventListener('click', (event) => {
            event.preventDefault();
            element.nextElementSibling.style = 'display: flex;'
        })
    })
</script>