<%= form_with model: @user, url: account_path, method: :put, class: "flex flex-col gap-y-4 centered-form-layout" do |form| %>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>

  <%= form.label :email, "Update profile", class: "text-2xl font-extrabold mb-2" %>

  <div class="joined-input-container flex flex-col">
    <%= form.email_field :email, disabled: true, placeholder: "Current Email", class: "top-joined-input" %>
    <%= form.text_field :unconfirmed_email, placeholder: "New Email", class: "bottom-joined-input" %>
  </div>

  <hr/>

  <%= form.password_field :current_password, required: true, placeholder: "Current password", class: "primary-input" %>

  <div class="joined-input-container flex flex-col">
    <%= form.password_field :password, placeholder: "New password (leave blank if you don't want to change it)", class: "top-joined-input" %>
    <%= form.password_field :password_confirmation, placeholder: "New password confirmation", class: "bottom-joined-input" %>
  </div>
  <%= form.submit "Update Account", class: "button-primary" %>
<% end %>

<div class="flex items-center gap-x-2 mt-8">
  <h2>Current Logins</h2>
  <% if @active_sessions.any? %>
    <%= button_to "Log out of all other sessions", destroy_all_active_sessions_path, method: :delete, class: "pill-button-primary" %>
  <% end %>
</div>

<% if @active_sessions.any? %>
  <table>
    <thead>
    <tr>
      <th>User Agent</th>
      <th>IP Address</th>
      <th>Signed In At</th>
      <th>Sign Out</th>
    </tr>
    </thead>
    <tbody>
    <%= render @active_sessions %>
    </tbody>
  </table>
<% end %>
