<div class="centered-form-layout">
  <%= form_with(model: post) do |form| %>
    <div class="flex flex-col gap-y-4">
      <% if post.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% post.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="joined-input-container flex flex-col">
        <%= form.text_field :title, placeholder: :title, class: "top-joined-input" %>
        <%= form.text_area :link, placeholder: :link, class: "bottom-joined-input" %>
      </div>

      <div class="flex">
        <%= form.submit "Create", class: "button-primary w-full" %>
      </div>
    </div>
  <% end %>
</div>
