<%= button_to post, :method => :get, class: "w-full" do %>
  <div class="group flex justify-between dark:hover:bg-gray-900 dark:text-white hover:bg-gray-100 rounded-3xl p-4 pb-2 cursor-pointer h-44">
    <div class="flex gap-x-4 text-start">
      <div class="flex flex-col gap-y-1 items-center">
        <% if post.image_source != nil %>
          <img src="<%= post.image_source %>" alt="thumbnail" class="object-cover rounded-2xl w-32 h-full max-w-none">
        <% else %>
          <%= image_tag "surprised_pikachu.png", class: "object-cover rounded-2xl w-32 h-full max-w-none" %>
        <% end %>

        <small class="whitespace-nowrap group-hover:text-slate-500 text-transparent">
          <%= local_time_ago(post.created_at) %>
        </small>
      </div>

      <div class="flex flex-col gap-y-4">
        <div class="flex flex-col gap-y-1">
          <a href="<%= post.link %>" class="hover:underline underline-offset-2 font-medium text-lg">
            <%= post.title %>
          </a>

          <small class="dark:text-white max-h-14 text-ellipsis overflow-hidden">
            <%= post.description %>
          </small>
        </div>
      </div>
    </div>
  </div>
<% end %>
