<%= turbo_frame_tag "#{dom_id(post)}_votes" do %>
  <div class="w-fit">
    <% if post.upvoted_by? current_user %>
      <%= button_to unvote_post_path(post), method: :patch do %>
        <%= inline_svg_tag "upvote-filled.svg", class: "fill-purple-400 w-5 h-5" %>
      <% end %>
    <% else %>
      <%= button_to upvote_post_path(post), method: :patch do %>
        <%= inline_svg_tag "upvote-hollow.svg", class: "hover:fill-purple-300 w-5 h-5" %>
      <% end %>
    <% end %>
    <span class="flex justify-center">
    <%= post.votes_tally.value %>
  </span>
    <% if post.downvoted_by? current_user %>
      <%= button_to unvote_post_path(post), method: :patch do %>
        <%= inline_svg_tag "downvote-filled.svg", class: "fill-purple-400 w-5 h-5" %>
      <% end %>
    <% else %>
      <%= button_to downvote_post_path(post), method: :patch do %>
        <%= inline_svg_tag "downvote-hollow.svg", class: "hover:fill-purple-300 w-5 h-5" %>
      <% end %>
    <% end %>
  </div>
<% end %>
