<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Back to posts", posts_path %>
  <% if current_user == @post.user %>
    <div>
      <%= link_to "Edit this post", edit_post_path(@post) %> |
      <%= button_to "Destroy this post", @post, method: :delete %>
    </div>
  <% end %>
</div>

<div>
  <%= render 'comments/form', post: @post %>
  <div class="flex flex-col gap-y-4">
    <% @comments.each do |comment| %>
      <%= render 'comments/comment', post: @post, comment: comment %>
    <% end %>
  </div>
</div>