<!DOCTYPE html>
<html>
  <head>
    <title>Orenda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.fluid.classless.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><strong>Orenda</strong></li>
        </ul>
        <ul>
          <% if Current.user.present? %>
            <details role="list">
              <summary aria-haspopup="listbox" role="button">
                <%= Current.user.username %>
              </summary>
              <ul role="listbox">
                <li><%= link_to "Account", account_path %></li>
                <li><%= link_to "Logout", logout_path, data: { turbo_method: :delete } %></li>
              </ul>
            </details>
          <% else %>
            <li><%= link_to "Login", login_path %></li>
            <li><%= link_to "Sign up", sign_up_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>Made in QC with â¤</footer>
  </body>
</html>
