<!DOCTYPE html>
<html>
<head>
  <title>Orenda</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="h-screen flex flex-col justify-between gap-y-8 p-4 dark:bg-black">
<header>
  <nav class="flex flex-row justify-between items-center gap-x-2">
    <h1 class="dark:text-white">Orenda</h1>
    <div class="flex justify-center items-center dark:text-white">
      <% if user_signed_in? %>
        <%= link_to account_path, class: "icon-button-primary" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
          </svg>
        <% end %>
        <%= link_to logout_path, data: { turbo_method: :delete }, class: "icon-button-primary" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9"/>
          </svg>
        <% end %>
      <% else %>
        <%= link_to "Sign in", login_path, class: "dark:text-white text-sm font-medium" %>
        <%= link_to "Sign up", sign_up_path, class: "pill-button-primary w-sm px-3 py-1 " %>
      <% end %>
    </div>
  </nav>
</header>
<main class="flex flex-col">
  <div class="flex flex-col items-center">
    <%= yield %>
  </div>
</main>
<footer>
  <div class="flex justify-center">
    <p>Made in QC with â¤</p>
  </div>
</footer>
</body>
</html>
