<!DOCTYPE html>
<html>
<head>
  <title>Orenda</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="h-screen flex flex-col justify-between gap-y-8 p-4 dark:bg-black">
<header>
  <nav class="flex flex-row justify-end items-center gap-x-2">
    <% if Current.user.present? %>
      <%= link_to "Account", account_path %>
      <%= link_to "Logout", logout_path, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "Sign in", login_path, class: "dark:text-white" %>
      <%= link_to "Sign up", sign_up_path, class: "pill-button-primary w-sm px-3 py-1 " %>
    <% end %>
  </nav>
</header>
<main class="flex flex-col">
  <div class="flex flex-col items-center gap-y-8">
    <h1 class="dark:text-white">Orenda</h1>

    <%= yield %>
  </div>
</main>
<footer>
  <div class="flex justify-center">
    <p>Made in QC with â¤</p>
  </div>
</footer>
</body>
</html>
