<!DOCTYPE html>
<html>
  <head>
    <title>Orenda</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
      <nav>
        <% if Current.user.present? %>
          <%= link_to "Account", account_path %>
          <%= link_to "Logout", logout_path, data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to "Login", login_path %>
          <%= link_to "Sign up", sign_up_path %>
        <% end %>
        <h2>Orenda</h2>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>Made in QC with â¤</footer>
  </body>
</html>
